.preview_content {
    flex: 1;
    min-width: 300px;
    padding-top: 2rem;
    padding-right: 2rem; 
    padding-left: 2rem; 
    max-height: 100vh;
    overflow-y: auto;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #FAFAFA;
}

.article {
    color: 'black'
}